
<% @venues.each do |venue| %>
<div class = "row">

    <div class="name" ><%= venue.name %></div>
    <div class="count" ><%= venue.count %></div>
    <div class="capacity" ><%= venue.percentfull %>% full</div>
    <div class="notification" ><%= venue.notification %></div>
    <div class="edit"> <%= link_to 'Edit', edit_venue_path(venue) %></div>
</div>
<% end %>


