<!DOCTYPE html>
<html>
<head>
  <title>MoSo Status</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>

<div class="container-fluid">

	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

	<div class="row-fluid">
		<div class="span12">

<script>

</script>

			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
